In [2]:
lista=["r","a","m"]
tuplea=(1,2,6)
print(zip(lista,tuplea))
print(tuple(zip(lista,tuplea)))

<zip object at 0x0000016D4ECEB840>
(('r', 1), ('a', 2), ('m', 6))

In [ ]:
# functions
'''
def func_name():   # function declaration
    statements
    return (optional)

func_name()    # function calling

'''

# lambda function
no name
single statement
default return

In [18]:
x=lambda num: num**2
print(x(10))

100

In [19]:
(lambda a,b: a+b) (10,20)

30

In [22]:
# map --iterate over the each element ---apply functionality----return output
list1=[9,8,8,9,6,8]
def squareOfnum(num):
    return num*num
map(squareOfnum,list1)
op=list(map(squareOfnum,list1))
print(op)

[81, 64, 64, 81, 36, 64]

In [24]:
list(map(lambda x: x*x,lista))

TypeError: can't multiply sequence by non-int of type 'str'

In [3]:
def ram():
    print("hello ram")
ram()
print(ram)
x=ram
print(x)
x()

hello ram
<function ram at 0x0000023E6F3CDA80>
<function ram at 0x0000023E6F3CDA80>
hello ram

In [2]:
def joker():
    print("Hey user joker")
def placement(status,abc):
    print("placement function called")
    abc()
placement("user placed",joker)
#abc=joker()
#print(abc)

placement function called
Hey user joker

In [28]:
# create dictionary consisisting of several

avg1=lambda marks : sum(marks)/len(marks)
avg1([100,100,100,100])
dict1={"id1":[10,20,30,40],"id2":[89,45,45,41],"id3":[45,45,78,89]}
for key in dict1.keys():
    print(key,avg1(dict1[key]))

id1 25.0
id2 55.0
id3 64.25

In [37]:
calci={"avg":lambda marks : sum(marks)/len(marks),"maximum":lambda marks:max(marks),"total":lambda marks:sum(marks)}
#print(mydict1["avg"]([100,100,50]))

# now enhance this to calculate the max ,sum,avg
#users={"ram":[100,90,50],"hari":[50,45,89],"ravi":[78,89,78]}
data=[{"name":"ram","marks":[100,90,100]},{"name":"ravi","marks":[90,60,80]},{"name":"hari","marks":[80,50,80]},{"name":"teja","marks":[100,90,60]}]
choice=input("enter avg or maximum or total as your choice")
output=[]
for student in data:
    student_result=calci[choice](student["marks"])
    student_name=student["name"]
    output.append((student_name,student_result))
print(output)

[('ram', 290), ('ravi', 230), ('hari', 210), ('teja', 250)]

In [5]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

In [1]:
def myFun(*argv):
	for arg in argv:
		print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [8]:
def myFun(**kwargs):
	for key, value in kwargs.items():
		print('%s == %s'  ,(key, value))
		print("{} == {}".format(key, value))


# Driver code
myFun(first=1, mid='for', last='Geeks')

%s == %s ('first', 1)
first == 1
%s == %s ('mid', 'for')
mid == for
%s == %s ('last', 'Geeks')
last == Geeks