In [1]:
import psycopg2

ModuleNotFoundError: No module named 'psycopg2'

In [2]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.5-cp311-cp311-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 360.4 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [4]:
psycopg2.__version__

'2.9.5 (dt dec pq3 ext lo64)'

In [7]:
hostname='localhost'
database='newdb'
username='postgres'
pwd='password'
port_id=5432
cur=None
conn=None

conn=psycopg2.connect(
    host=hostname,
    dbname=database,
    user=username,
    password=pwd,
    port=port_id
)

In [8]:
conn.close()

In [16]:
try:
    conn=psycopg2.connect(
    host=hostname,
    dbname=database,
    user=username,
    password=pwd,
    port=port_id)

    cur=conn.cursor()

    cur.execute('DROP TABLE IF EXISTS employee_miles')           # dropping table if alredy there

    employee_miles_create_script ='''CREATE TABLE IF NOT EXISTS employee_miles (       
                id INTEGER PRIMARY KEY,
        name varchar(30) NOT NULL,
        salary INTEGER,
        dept_id varchar(30))'''                                 

    cur.execute(employee_miles_create_script)                     #creating table

    employee_miles_insert_script='INSERT INTO employee_miles(id,name,salary,dept_id) VALUES(%s,%s,%s,%s)'
    employee_miles_insert_values=[(1,"Ram",70000,"A10"),(2,"surya",50000,"A20"),(3,"ravi",50000,"A10"),(4,"nani",75000,"A20")]

    for record in employee_miles_insert_values:
        cur.execute(employee_miles_insert_script,record)          #inserting records

    cur.execute('UPDATE employee_miles SET salary=salary+(0.5*salary)')    #updating records

    cur.execute('select * from employee_miles')                  # fetching records
    for each_record in cur.fetchall():
        print(each_record)
    
    conn.commit()

except Exception as error:
    print(error)

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

(1, 'Ram', 105000, 'A10')
(2, 'surya', 75000, 'A20')
(3, 'ravi', 75000, 'A10')
(4, 'nani', 112500, 'A20')