In [2]:
#pip install mysql-connector-python
import mysql.connector as mycon

In [7]:
hostname='localhost'
db='airlines3'
username='root'
pwd='Srkp@1811'
port_id=3308
cur=None
conn=None



conn=mycon.connect(
    host=hostname,
    database=db,
    user=username,
    password=pwd,
    port=port_id
)

In [8]:
conn.close()

In [12]:
import pandas as pd
import numpy as np

In [15]:
try:
    conn=mycon.connect(
    host=hostname,
    database=db,
    user=username,
    password=pwd,
    port=port_id)

    cur=conn.cursor()

    airportsdf=pd.read_csv("C:\\Users\\miles\\Downloads\\Airportsf.csv")

    airport_insert_script='INSERT INTO airport(airport_code,airport_name,city,country) VALUES(%s,%s,%s,%s)'
    airport_insert_values=airportsdf.values.tolist()

    for record in airport_insert_values:
        cur.execute(airport_insert_script,record)          #inserting records

    
    cur.execute('select * from airport')                  # fetching records
    for each_record in cur.fetchall():
        print(each_record)
    
    conn.commit()

except Exception as error:
    print(error)

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

('AMS', 'Amsterdam Airport Schiphol', 'Amsterdam', 'Netherlands')
('ARN', 'Stockholm Arlanda Airport', 'Stockholm', 'Sweden')
('ATL', 'Hartsfield–Jackson Atlanta International Airport', 'Atlanta', 'United States')
('AUH', 'Abu Dhabi International Airport', 'Abu Dhabi', 'United Arab Emirates')
('AYT', 'Antalya Airport', 'Antalya', 'Turkey')
('BCN', 'Barcelona–El Prat Airport', 'Barcelona', 'Spain')
('BKK', 'Suvarnabhumi Airport', 'Bangkok', 'Thailand')
('BLR', 'Kempegowda International Airport', 'Bangalore', 'India')
('BNE', 'Brisbane International Airport', 'Brisbane', 'Australia')
('BOG', 'El Dorado International Airport', 'Bogota', 'Colombia')
('BOM', 'Chhatrapati Shivaji International Airport', 'Mumbai', 'India')
('BOS', 'Logan International Airport', 'Boston', 'United States')
('BRU', 'Brussels Airport', 'Brussels', 'Belgium')
('BWI', 'Washington International Thurgood Marshall Airport', 'Baltimore', 'United States')
('CAN', 'Guangzhou Baiyun International Airport', 'Guangzhou', 'China')
('CDG', 'Charles de Gaulle International Airport', 'Paris', 'France')
('CGK', 'Soekarno-Hatta International Airport', 'Jakarta', 'Indonesia')
('CGO', 'Zhengzhou Xinzheng International Airport', 'Zhengzhou', 'China')
('CJU', 'Jeju International Airport', 'Cheju', 'South Korea')
('CKG', 'Chongqing Jiangbei International Airport', 'Chongqing', 'China')
('CLT', 'Charlotte Douglas International Airport', 'Charlotte', 'United States')
('CPH', 'Copenhagen Airport', 'Copenhagen', 'Denmark')
('CSX', 'Changsha Huanghua International Airport', 'Changcha', 'China')
('CTU', 'Chengdu Shuangliu International Airport', 'Chengdu', 'China')
('CUN', 'Cancún International Airport', 'Cancun', 'Mexico')
('DCA', 'Ronald Reagan Washington National Airport', 'Washington', 'United States')
('DEL', 'Indira Gandhi International Airport', 'Delhi', 'India')
('DEN', 'Denver International Airport', 'Denver', 'United States')
('DFW', 'Dallas-Fort Worth International Airport', 'Dallas', 'United States')
('DME', 'Moscow Domodedovo Airport', 'Moscow', 'Russia')
('DMK', 'Don Mueang International Airport', 'Bangkok', 'Thailand')
('DOH', 'Hamad International Airport', 'Doha', 'Qatar')
('DTW', 'Detroit Metropolitan Wayne County Airport', 'Detroit', 'United States')
('DUB', 'Dublin Airport', 'Dublin', 'Ireland')
('DUS', 'Düsseldorf International Airport', 'Duesseldorf', 'Germany')
('DXB', 'Dubai International Airport', 'Dubai', 'United Arab Emirates')
('EWR', 'Newark Liberty International Airport', 'Newark', 'United States')
('FCO', 'Leonardo da Vinci–Fiumicino Airport', 'Rome', 'Italy')
('FLL', 'Fort Lauderdale Hollywood International Airport', 'Fort Lauderdale', 'United States')
('FRA', 'Frankfurt am Main International Airport', 'Frankfurt', 'Germany')
('FUK', 'Fukuoka Airport', 'Fukuoka', 'Japan')
('GMP', 'Gimpo International Airport', 'Seoul', 'South Korea')
('GRU', 'São Paulo–Guarulhos International Airport', 'Sao Paulo', 'Brazil')
('HGH', 'Hangzhou Xiaoshan International Airport', 'Hangzhou', 'China')
('HKG', 'Hong Kong International Airport', 'Hong Kong', 'Hong Kong')
('HND', 'Haneda Airport', 'Tokyo', 'Japan')
('IAH', 'George Bush Intercontinental Houston Airport', 'Houston', 'United States')
('ICN', 'Incheon International Airport', 'Seoul', 'South Korea')
('IST', 'Istanbul Atatürk Airport', 'Istanbul', 'Turkey')
('JED', 'King Abdulaziz International Airport', 'Jeddah', 'Saudi Arabia')
('JFK', 'John F. Kennedy International Airport', 'New York', 'United States')
('KIX', 'Kansai International Airport', 'Osaka', 'Japan')
('KMG', 'Kunming Changshui International Airport', 'Kunming', 'China')
('KUL', 'Kuala Lumpur International Airport', 'Kuala Lumpur', 'Malaysia')
('LAS', 'McCarran International Airport', 'Las Vegas', 'United States')
('LAX', 'Los Angeles International Airport', 'Los Angeles', 'United States')
('LGA', 'LaGuardia Airport', 'New York', 'United States')
('LGW', 'Gatwick Airport', 'London', 'United Kingdom')
('LHR', 'Heathrow Airport', 'London', 'United Kingdom')
('LIS', 'Lisbon Portela Airport', 'Lisbon', 'Portugal')
('MAD', 'Adolfo Suárez Madrid–Barajas Airport', 'Madrid', 'Spain')
('MAN', 'Manchester Airport', 'Manchester', 'United Kingdom')
('MCO', 'Orlando International Airport', 'Orlando', 'United States')
('MEL', 'Melbourne Airport', 'Melbourne', 'Australia')
('MEX', 'Mexico City International Airport', 'Mexico City', 'Mexico')
('MIA', 'Miami International Airport', 'Miami', 'United States')
('MNL', 'Ninoy Aquino International Airport', 'Manila', 'Philippines')
('MSP', 'St Paul International Airport', 'Minneapolis', 'United States')
('MUC', 'Munich Airport', 'Munich', 'Germany')
('NKG', 'Nanjing Lukou International Airport', 'Nanjing', 'China')
('NRT', 'Narita International Airport', 'Tokyo', 'Japan')
('ORD', "O'Hare International Airport", 'Chicago', 'United States')
('ORL', 'Orlando Executive Airport', 'Orlando', 'United States')
('OSL', 'Oslo Airport, Gardermoen', 'Oslo', 'Norway')
('PEK', 'Beijing Capital International Airport', 'Beijing', 'China')
('PHL', 'Philadelphia International Airport', 'Philadelphia', 'United States')
('PHX', 'Phoenix Sky Harbor International Airport', 'Phoenix', 'United States')
('PMI', 'Palma De Mallorca Airport', 'Palma de Mallorca', 'Spain')
('PVG', 'Shanghai Pudong International Airport', 'Shanghai', 'China')
('RUH', 'King Khaled International Airport', 'Riyadh', 'Saudi Arabia')
('SAW', 'Sabiha Gökçen International Airport', 'Istanbul', 'Turkey')
('SEA', 'Seattle–Tacoma International Airport', 'Seattle', 'United States')
('SFO', 'San Francisco International Airport', 'San Francisco', 'United States')
('SGN', 'Tan Son Nhat International Airport', 'Ho Chi Minh City', 'Vietnam')
('SHA', 'Shanghai Hongqiao International Airport', 'Shanghai', 'China')
('SIN', 'Singapore Changi Airport', 'Singapore', 'Singapore')
('SLC', 'Salt Lake City International Airport', 'Salt Lake City', 'United States')
('STN', 'London Stansted Airport', 'London', 'United Kingdom')
('SVO', 'Sheremetyevo International Airport', 'Moscow', 'Russia')
('SYD', 'Sydney Airport', 'Sydney', 'Australia')
('SZX', "Shenzhen Bao'an International Airport", 'Shenzhen', 'China')
('TAO', 'Liuting Airport', 'Qingdao', 'China')
('TPE', 'Taiwan Taoyuan International Airport', 'Taipei', 'Taiwan')
('VIE', 'Vienna International Airport', 'Vienna', 'Austria')
('WUH', 'Wuhan Tianhe International Airport', 'Wuhan', 'China')
('XIY', "Xi'an Xianyang International Airport", "Xi'an", 'China')
('XMN', 'Xiamen Gaoqi International Airport', 'Xiamen', 'China')
('YVR', 'Vancouver International Airport', 'Vancouver', 'Canada')
('YYZ', 'Toronto Pearson International Airport', 'Toronto', 'Canada')
('ZRH', 'Zürich Airport', 'Zurich', 'Switzerland')

In [30]:
airport_codes=[]
for each in airport_insert_values:
    airport_codes.append(each[0])
airport_codes[50]

'CKG'

In [ ]:
'''INSERT INTO Airlines(Airlines_name,Airlines_id) values
("Singapore Airlines","SA"),
("Qatar Airways","QA"),
("EVA Air","EVA"),
("Emirates","EM"),
("La Compagnie","LA"),
("Turkish Airlines","TA"),
("JAPAN Airlines","JAL"),
("Virgin Atlantic","VA"),
("Korean Air", "KA"),
("Air New Zealand" ,"ANZ");

'''

In [27]:
max_seats={
"ATR 42": 46 ,
"ATR 72": 71  ,
"Airbus A220": 110, 
"Airbus A300": 255 , 
"Airbus A380": 853  ,
"Boeing 717": 106  ,
"Boeing 757": 239  ,
"Boeing 767": 181  ,
"Boeing 777": 314  ,
"Boeing 787": 242 ,
"Cessna 208": 9 ,
"Cessna 404": 10 , 
"Convair CV5800": 50,  
"Dornier 328": 30,
"Embraer 170": 82 , 
"Embraer 175": 78  ,
"Embraer 190": 96  ,
"Embraer 195": 114  ,
"Fokker 70": 70,
"Fokker 100": 100,  
"IPTN N-250": 77 ,
"Piper T-1040": 11, 
"Short 330": 33  ,
"Short 360": 36,
"Saab 2000": 52 ,
}
Airplanedf=[]
for airlines_id in ("ANZ","EM","EVA","JAL","KA","LA","QA","SA","TA","VA"):
    for airplane_model in max_seats.keys():
        for j in range(1,5):
            airplane_no=airlines_id+str(max_seats[airplane_model])+str(j)
            Airplanedf.append([airplane_no,max_seats[airplane_model],airlines_id,airplane_model])

In [28]:
Airplanedf[999]

['VA524', 52, 'VA', 'Saab 2000']

In [29]:
try:
    conn=mycon.connect(
    host=hostname,
    database=db,
    user=username,
    password=pwd,
    port=port_id)

    cur=conn.cursor()

    

    airplane_insert_script='INSERT INTO airplane(airplane_no,seating_capacity,airlines_id,plane_model) VALUES(%s,%s,%s,%s)'
    airplane_insert_values=Airplanedf

    for record in airplane_insert_values:
        cur.execute(airplane_insert_script,record)          #inserting records

    
    #cur.execute('select * from airport')                  # fetching records
    #for each_record in cur.fetchall():
        #print(each_record)
    
    conn.commit()

except Exception as error:
    print(error)

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

In [31]:
port_accessdf=[]
for airplane in Airplanedf:
    airplane_no=airplane[0]
    for each in airport_codes:
        port_accessdf.append([each,airplane_no,"True"])
port_accessdf[5001]

['PEK', 'ANZ503', 'True']

In [33]:
try:
    conn=mycon.connect(
    host=hostname,
    database=db,
    user=username,
    password=pwd,
    port=port_id)

    cur=conn.cursor()

    

    plane_port_access_insert_script='INSERT INTO plane_port_access(airport_code,airplane_no,is_allowed) VALUES(%s,%s,%s)'
    plane_port_access_insert_values=port_accessdf

    for record in plane_port_access_insert_values:
        cur.execute(plane_port_access_insert_script,record)          #inserting records

    
    #cur.execute('select * from plane_port_access')                  # fetching records
    #for each_record in cur.fetchall():
        #print(each_record)
    
    conn.commit()

except Exception as error:
    print(error)

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

In [38]:
import random
seatsdf=[]
for airplane in Airplanedf:
    airplane_no=airplane[0]
    max_capacity=airplane[1]
    for seatno in range(1,max_capacity+1):
        seatsdf.append([airplane_no,str(airplane_no)+str(seatno),"True",random.choice(["EC","PEC","BZ","FC","EC","EC","EC","FC","PEC","PEC"])])

print(seatsdf[500])

['ANZ1101', 'ANZ110133', 'True', 'PEC']

In [41]:
try:
    conn=mycon.connect(
    host=hostname,
    database=db,
    user=username,
    password=pwd,
    port=port_id)

    cur=conn.cursor()

    

    seat_insert_script='INSERT INTO seat(airplane_no,seat_no,availability,seat_class) VALUES(%s,%s,%s,%s)'
    seat_insert_values=seatsdf

    for record in seat_insert_values:
        cur.execute(seat_insert_script,record)          #inserting records

    
    #cur.execute('select * from plane_port_access')                  # fetching records
    #for each_record in cur.fetchall():
        #print(each_record)
    
    conn.commit()

except Exception as error:
    print(error)

finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

In [ ]:
import random
for user_type in ['customer','agent']:
    for user_name in